<?xml version="1.0" encoding="utf-8"?>
<!-- Let's Encrypt HTTP-01 challenges: IIS serves these files itself instead of passing them to EMS. -->
<configuration>
  <system.webServer>
    <handlers>
      <clear />
      <add name="StaticFile" path="*" verb="GET,HEAD" modules="StaticFileModule" resourceType="Either" requireAccess="Read" />
    </handlers>
    <staticContent>
      <clear />
      <mimeMap fileExtension="." mimeType="text/plain" />
      <mimeMap fileExtension=".txt" mimeType="text/plain" />
    </staticContent>
  </system.webServer>
</configuration>
